.leaf{
    padding-left: 6px;
}

.tree-level-1{
    padding-left: 10px;
}
.tree-level-2{
    padding-left: 20px;
}
.tree-level-3{
    padding-left: 30px;
}
.tree-level-4{
    padding-left: 40px;
}
.tree-level-5{
    padding-left: 50px;
}
.tree-level-6{
    padding-left: 60px;
}
.tree-level-7{
    padding-left: 70px;
}
.tree-level-8{
    padding-left: 80px;
}
.tree-level-9{
    padding-left: 90px;
}
.tree-level-10 {
    padding-left: 100px;
}

.tree-level-11 {
    padding-left: 110px;
}

.tree-level-12 {
    padding-left: 120px;
}

.tree-level-13 {
    padding-left: 130px;
}

.tree-level-14 {
    padding-left: 140px;
}

.tree-level-15 {
    padding-left: 150px;
}
.tree-level-15 {
    padding-left: 150px;
}

.tree-level-16 {
    padding-left: 160px;
}

.tree-level-17 {
    padding-left: 170px;
}

.tree-level-18 {
    padding-left: 180px;
}

.tree-level-19 {
    padding-left: 190px;
}

.tree-level-20 {
    padding-left: 200px;
}

.tree-level-21 {
    padding-left: 210px;
}

.tree-level-22 {
    padding-left: 220px;
}

.tree-level-23 {
    padding-left: 230px;
}

.tree-level-24 {
    padding-left: 240px;
}

.tree-level-25 {
    padding-left: 250px;
}